{{ $ := .root }}
{{ $page := .page }}
{{ $tutorials_len := len (where $.Site.RegularPages "Type" "tutorial") }}

<!-- tutorials widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ if gt $tutorials_len $page.Params.count }}
    <p class="view-all">
      <a href="{{ "/tutorial/" | relLangURL }}">
        {{ i18n "more_tutorials" | markdownify }}
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p>
    {{ end }}
  </div>
  <div class="col-xs-12 col-md-8">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ range first $page.Params.count (where $.Site.RegularPages "Type" "tutorial") }}
      {{ if eq $page.Params.list_format 1 }}
        {{ partial "tutorial_li_detailed" . }}
      {{ else }}
        {{ partial "tutorial_li_simple" . }}
      {{ end }}
    {{ end }}
  </div>
</div>
